<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 20px">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 style="font-size: 50px">Books</h1>
        <h3 th:inline="text">You are logged in as [[${#httpServletRequest.remoteUser}]]!</h3>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>     
    </div>
    
    <table class="table table-striped" >
        <tbody>
            <tr>
                <th>
                    Author
                </th>
                <th>
                    Title
                </th>
                <th>
                   Year 
                </th>
                <th>
                   ISBN 
                </th>
                <th>
                   Category 
                </th>
                <th sec:authorize="hasRole('ADMIN')">
                    
                </th>
                <th sec:authorize="hasRole('ADMIN')">
                    
                </th>
            </tr>
        
        <tr th:each="book : ${books}">
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.category.name}"></td>
            <td sec:authorize="hasRole('ADMIN')"> <button th:onclick="'window.location.href=\'/edit/' + ${book.id} + '\''" class="btn btn-warning">Edit <a ></a></button></td>
            <td sec:authorize="hasRole('ADMIN')"> <button th:onclick="'window.location.href=\'/delete/' + ${book.id} + '\''" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
        
    </table>
    <button sec:authorize="hasRole('ADMIN')" class="btn btn-success" th:onclick="'window.location.href=\'/newbook' + '\''" >Add new Book</button>
</body>
</html>