<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 20px">
    <h1>Edit Book</h1>
    <form action="#" th:action="@{/newbook}" th:object="${book}" method="post">
    	<p>Author: <input type="text" th:field="*{author}" placeholder="${book.author}" /></p>
    	<p>Title: <input type="text" th:field="*{title}" placeholder="${book.title}"/></p>
    	<p>Year: <input type="number" th:field="*{year}" placeholder="${book.year}" /></p>
    	<p>ISBN: <input type="text" th:field="*{isbn}" placeholder="${book.isbn}" /></p>
    	<input type="hidden" th:field="*{id}" />
        <p><input type="submit" value="Submit" /> 
    </form>
</body>
</html>